.find-friends-list {
  padding: 0 15px;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  grid-gap: 10px;
  .find-single {
    z-index: 0;
    padding-bottom: 0;
    .image-holder {
      position: relative;
      cursor: pointer;
      overflow: hidden;
      border-radius: 3px;
      width: 160px;
      height: 160px;
    }
    .single-body {
      position: relative;
      padding: 10px 0;
      display: flex;
      align-items: center;
      .name-box {
        margin-left: 4px;
        text-transform: capitalize;
        cursor: pointer;
        font-weight: 700;
        color: $clr-dark-blue;
        &:hover {
          text-decoration: underline;
        }
      }
      .add-friend {
        transition: all 0.2s;
        cursor: pointer;
        right: 2px;
        position: absolute;
        color: $clr-main-blue;
        opacity: 0.5;
        width: 20px !important;
        height: 20px !important;
        &:hover {
          opacity: 1;
        }
        svg {
          width: 20px !important;
          height: 20px !important;
        }
      }
    }
  }
}
.findmore {
  padding: 40px 0 20px;
  display: flex;
  justify-content: center;
}
