@import "./main/variables";

.image {
  height: 127px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #f0f2f5;
  cursor: pointer;
  position: relative;
  &:hover {
    .image-options {
      opacity: 1;
    }
  }
}
.image.small-img {
  background-position: center;
  background-size: 60px 48px;
}
.check-icon {
  position: absolute;
  top: 12px;
  left: 12px;
  color: white;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    opacity: 1;
  }
}
.check-icon.on {
  opacity: 1;
  background-color: white;
  color: $clr-main-blue;
}
.image-options {
  transition: all 0.2s;
  opacity: 0;
  top: 0px;
  right: 0px;
  position: absolute;
  display: flex;
  margin: 8px;
  padding: 3px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.4);
  z-index: 0;
  .image-option {
    color: white;
    cursor: pointer;
    opacity: 0.7;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px !important;
    height: 22px !important;
    svg {
      width: 17px !important;
      height: 17px !important;
    }
    &:hover {
      opacity: 1;
    }
  }
}
