/* 
====== 
Global Styles 
======
*/
@font-face {
  src: url(../../fonts/Roboto-Black.ttf);
  font-family: Roboto;
  font-weight: 900;
  font-style: normal;
}
@font-face {
  src: url(../../fonts/Roboto-Bold.ttf);
  font-family: Roboto;
  font-weight: 700;
  font-style: normal;
}
@font-face {
  src: url(../../fonts/Roboto-Medium.ttf);
  font-family: Roboto;
  font-weight: 500;
  font-style: normal;
}
@font-face {
  src: url(../../fonts/Roboto-Thin.ttf);
  font-family: Roboto;
  font-weight: 100;
  font-style: normal;
}
@font-face {
  src: url(../../fonts/Roboto-Regular.ttf);
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  src: url(../../fonts/Roboto-Light.ttf);
  font-family: Roboto;
  font-weight: 300;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto;
  color: black;
  background: $clr-light;
  line-height: 1.4;
  font-size: 13px;
  font-weight: 400;
}
ul {
  list-style-type: none;
  display: flex;
  margin: 0;
}
a {
  text-decoration: none !important;
  color: black;
  &:hover {
    color: black;
  }
}
img {
  width: 100%;
  height: auto;
  display: block;
}
input {
  &:focus {
    outline: none;
  }
}

.page_layout {
  padding-top: 64px;
}
button {
  outline: none;
}
.mCard {
  background: var(--white);
  border-radius: 4px;
  box-shadow: 0 1px 0 0 $clr-f-card-grey, 0 0 0 1px $clr-s-card-grey;
  margin-bottom: 15px;
}
.modal-box {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25));
  position: absolute;
}
