/* 
====== 
Global Styles 
======
*/
@font-face {
  src: url(../../fonts/Roboto-Black.ttf);
  font-family: Roboto;
  font-weight: 900;
  font-style: normal;
}
@font-face {
  src: url(../../fonts/Roboto-Bold.ttf);
  font-family: Roboto;
  font-weight: 700;
  font-style: normal;
}
@font-face {
  src: url(../../fonts/Roboto-Medium.ttf);
  font-family: Roboto;
  font-weight: 500;
  font-style: normal;
}
@font-face {
  src: url(../../fonts/Roboto-Thin.ttf);
  font-family: Roboto;
  font-weight: 100;
  font-style: normal;
}
@font-face {
  src: url(../../fonts/Roboto-Regular.ttf);
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  src: url(../../fonts/Roboto-Light.ttf);
  font-family: Roboto;
  font-weight: 300;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto;
  color: black;
  background: $clr-light;
  line-height: 1.4;
  font-size: 13px;
  font-weight: 400;
}
ul {
  list-style-type: none;
  display: flex;
  margin: 0;
}
a {
  text-decoration: none !important;
  color: black;
  &:hover {
    color: black;
  }
}
img {
  width: 100%;
  height: auto;
  display: block;
}
input {
  &:focus {
    outline: none;
  }
}

.page_layout {
  padding-top: 64px;
}
button {
  outline: none;
}
.mCard {
  background: var(--white);
  border-radius: 4px;
  box-shadow: 0 1px 0 0 $clr-f-card-grey, 0 0 0 1px $clr-s-card-grey;
  margin-bottom: 15px;
}
.modal-box {
  z-index: 10000000000000000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  position: fixed;
}
.main-btn {
  cursor: pointer;
  border-radius: 3px;
  font-size: 14px;
  line-height: 20px;
  width: 100px;
  text-align: center;
  background-color: $clr-main-blue;
  border: none;
  color: white;
  padding: 7px 16px;
  &:hover {
    opacity: 0.88;
  }
}

.s-button {
  opacity: 0.9;
  width: 90px;
  color: white;
  padding: 4px 15px;
  text-align: center;
  background-color: $clr-main-blue;
  border: 0;
  border-radius: 4px;
  font-size: 12.5px;
  &:hover {
    opacity: 1;
  }
}

.showCard {
  text-align: left;
  min-width: 200px;
  max-width: 250px;
  padding: 4px 0;
  border-radius: 4px;
  border: 1px solid#c5d0db;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  background-color: white;
  position: absolute;
  top: 30px;
  right: -25px;
  font-size: 13px;
  .item {
    padding: 0 15px;
    color: $clr-dark-blue;
    outline: 0;
    height: 30px;
    line-height: 30px;
    white-space: nowrap;
    &:hover {
      background-color: $clr-hover-blue;
    }
  }
  &:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px;
    border-color: transparent transparent #c5d0db transparent;
    top: -12px;
    right: 29px;
    z-index: 0;
  }
}
.loading {
  background-color: white;
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}
.page-block {
  box-shadow: 0 1px 0 0 $clr-f-card-grey, 0 0 0 1px $clr-s-card-grey;
  margin-bottom: 15px;
  border-radius: 4px;
  padding: 15px;
  background-color: white;
}
.close-card {
  &:hover {
    .close-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.6);
      }
    }
  }
  .close-icon {
    display: none;
    transition: all 0.2s;
    width: 18px !important;
    height: 18px !important;
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, 0.15);
    top: 0;
    right: 0;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    svg {
      width: 12px !important;
      height: 12px !important;
    }
  }
}
