/* 
====== 
Global Styles 
======
*/
@font-face {
  src: url(../../fonts/Roboto-Black.ttf);
  font-family: Roboto;
  font-weight: 900;
  font-style: normal;
}
@font-face {
  src: url(../../fonts/Roboto-Bold.ttf);
  font-family: Roboto;
  font-weight: 700;
  font-style: normal;
}
@font-face {
  src: url(../../fonts/Roboto-Medium.ttf);
  font-family: Roboto;
  font-weight: 500;
  font-style: normal;
}
@font-face {
  src: url(../../fonts/Roboto-Thin.ttf);
  font-family: Roboto;
  font-weight: 100;
  font-style: normal;
}
@font-face {
  src: url(../../fonts/Roboto-Regular.ttf);
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  src: url(../../fonts/Roboto-Light.ttf);
  font-family: Roboto;
  font-weight: 300;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto;
  color: black;
  background: $clr-light;
  line-height: 1.4;
  font-size: 13px;
  font-weight: 400;
}
ul {
  list-style-type: none;
  display: flex;
  margin: 0;
}
a {
  text-decoration: none !important;
  color: black;
  &:hover {
    color: black;
  }
}
img {
  width: 100%;
  height: auto;
  display: block;
}
input {
  &:focus {
    outline: none;
  }
}

.page_layout {
  padding-top: 64px;
}
button {
  outline: none;
}
.mCard {
  background: var(--white);
  border-radius: 4px;
  box-shadow: 0 1px 0 0 $clr-f-card-grey, 0 0 0 1px $clr-s-card-grey;
  margin-bottom: 15px;
}
.modal-box {
  z-index: 10000000000000000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  position: fixed;
}
.modal-holder {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  border-radius: 4px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  width: 650px;
  height: 260px;
  background-color: white;
}
.singleimage {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  background-color: #222222;
  min-width: 650px;
  max-width: 1000px;
  max-height: 700px;
  min-height: 410px;
  overflow: hidden;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.exit-icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px !important;
  height: 25px !important;
  cursor: pointer;
  color: white;
  opacity: 0.7;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  top: 15px;
  right: 20px;
  svg {
    width: 22px !important;
    height: 22px !important;
  }
  &:hover {
    opacity: 1;
  }
}
.main-btn {
  cursor: pointer;
  border-radius: 3px;
  font-size: 14px;
  line-height: 20px;
  width: 100px;
  text-align: center;
  background-color: $clr-main-blue;
  border: none;
  color: white;
  padding: 7px 16px;
  &:hover {
    opacity: 0.88;
  }
}
.main-btn-slim {
  cursor: pointer;
  font-size: 12.5px;
  border-radius: 3px;
  line-height: 30px;
  position: relative;
  min-width: 67px;
  height: 30px;
  text-align: center;
  background-color: $clr-main-blue;
  border: none;
  color: white;
  padding: 0 16px;
  margin: 0 10px;
  &:hover {
    opacity: 0.88;
  }
}
.minor-btn-slim {
  cursor: pointer;
  font-size: 12.5px;
  border-radius: 3px;
  line-height: 30px;
  height: 30px;
  text-align: center;
  background-color: white;
  border: none;
  color: $clr-main-blue;
  padding: 0 16px;
  margin: 0 10px;
  &:hover {
    background-color: $clr-hover-blue;
  }
}
.main-btn-slimer {
  position: relative;
  cursor: pointer;
  font-size: 12.5px;
  border-radius: 3px;
  text-align: center;
  background-color: $clr-main-blue;
  border: none;
  color: white !important;
  padding: 4px 16px;
  margin: 0 10px;
  opacity: 1 !important;
  &:hover {
    opacity: 0.88 !important;
  }
}
.minor-btn-slimer {
  position: relative;
  cursor: pointer;
  font-size: 12.5px;
  border-radius: 3px;
  text-align: center;
  background-color: #dfe6ed;
  border: none;
  color: $clr-main-blue !important;
  padding: 4px 16px;
  margin: 0 10px;
  &:hover {
    opacity: 0.88 !important;
  }
}
.s-button {
  opacity: 0.9;
  width: 90px;
  color: white;
  padding: 4px 15px;
  text-align: center;
  background-color: $clr-main-blue;
  border: 0;
  border-radius: 4px;
  font-size: 12.5px;
  &:hover {
    opacity: 1;
  }
}
.main-label {
  margin: 18px 0 12px;
  text-align: center;
  font-weight: 500;
}
.main-input {
  padding: 5px 9px 7px;
  border-radius: 3px;
  width: 100%;
  border: 1px solid $clr-f-card-grey;
}
.showCard {
  text-align: left;
  min-width: 200px;
  max-width: 250px;
  padding: 4px 0;
  border-radius: 4px;
  border: 1px solid#c5d0db;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  background-color: white;
  position: absolute;
  top: 30px;
  right: -25px;
  font-size: 13px;
  .item {
    padding: 0 15px;
    color: $clr-dark-blue;
    outline: 0;
    height: 30px;
    line-height: 30px;
    white-space: nowrap;
    &:hover {
      background-color: $clr-hover-blue;
    }
  }
  &:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px;
    border-color: transparent transparent #c5d0db transparent;
    top: -12px;
    right: 29px;
    z-index: 0;
  }
}
.loading {
  background-color: white;
  width: 100%;
  padding: 20px 0;
  position: relative;
  display: flex;
  justify-content: center;
}
.page-block {
  box-shadow: 0 1px 0 0 $clr-f-card-grey, 0 0 0 1px $clr-s-card-grey;
  margin-bottom: 15px;
  border-radius: 4px;
  padding: 15px;
  background-color: white;
}
.close-card {
  &:hover {
    .close-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.6);
      }
    }
  }
  .close-icon {
    display: none;
    transition: all 0.2s;
    width: 20px !important;
    height: 20px !important;
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, 0.15);
    top: 0;
    right: 0;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    svg {
      width: 14px !important;
      height: 14px !important;
    }
  }
}
.emoji-search {
  padding: 5px 10px !important;
}
.topside {
  padding: 14px 20px;
  min-height: 54px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $clr-border-bottom-grey;
  .name-box {
    font-size: 15px;
    .count {
      margin-left: 7px;
      color: $clr-grey;
      font-size: 14px;
    }
  }
  .breadcrumps {
    display: flex;
    .breadcrump {
      font-size: 15px;
      margin-right: 20px;
      display: flex;
      align-items: center;
      .between-icon {
        color: $clr-grey;
        width: 18px !important;
        height: 18px !important;
        svg {
          width: 18px !important;
          height: 18px !important;
        }
      }
      .count {
        color: $clr-grey;
        margin-left: 10px;
      }
    }
    .link {
      cursor: pointer;
      color: $clr-grey !important;
      &:hover {
        text-decoration: underline !important;
      }
    }
  }
}
.body-side {
  padding: 15px;
}
.footer-side {
  padding: 14px 20px;
  min-height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid $clr-border-bottom-grey;
  .name-box {
    font-size: 15px;
    .count {
      margin-left: 7px;
      color: $clr-grey;
      font-size: 14px;
    }
  }
}
.small-image {
  background-size: inherit !important;
  background-position: center !important;
}
.modal-top {
  padding: 0 25px;
  font-size: 14px;
  color: white;
  height: 54px;
  line-height: 54px;
  overflow: hidden;
  background-color: $clr-main-blue;
  position: relative;
  .modal-top-icon {
    width: 18px !important;
    height: 18px !important;
    svg {
      width: 18px !important;
      height: 18px !important;
    }
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    position: absolute;
    opacity: 0.8;
    transition: all 0.2s;
    &:hover {
      opacity: 1;
    }
  }
}
.modal-body {
  padding: 20px 25px;
  background-color: white;
}
.modal-footer {
  padding: 14px 23px 14px 25px;
  background-color: #fafbfc;
  border-top: 1px solid $clr-border-bottom-grey;
}
.empty {
  display: block !important;
  padding: 60px 20px !important;
  text-align: center;
  color: $clr-grey;
  font-size: 13px;
}
