$clr-white: #fff;
$clr-light: #edeef0;
$clr-border-bottom: #dce1e6;
$clr-main-blue: #2a5885;
$clr-grey: #6f7985;
$clr-active-grey: #edeef0;
$clr-hover-grey: rgba(174, 183, 194, 0.12);
$clr-black: #000000;
