$clr-white: #fff;
$clr-light: #edeef0;
$clr-border-bottom: #dce1e6;
$clr-border-bottom-grey: #e7e8ec;
$clr-main-blue: #5181b8;
$clr-dark-blue: #2a5885;
$clr-light-blue: #2787f5;
$clr-grey: #6f7985;
$clr-placeholder: #a9a9a9;
$clr-f-card-grey: #d3d9de;
$clr-s-card-grey: #e7e8ec;
$clr-active-grey: #edeef0;
$clr-hover-grey: rgba(174, 183, 194, 0.12);
$clr-hover-dgrey: #dce1e6;
$clr-hover-blue: #e5ebf1;
$clr-black: #000000;
$clr-error-border: #ad4547;
$clr-error-background: #ca635f;
$clr-hover-lgrey: #f0f2f5;
