@import "sass/main/variables";
@import "sass/main/base";
@import "sass/main/extends";
@import "sass/main/animations";
@import "sass/navbar";
@import "sass/sidebar";
@import "sass/error";
@import "sass/news";
@import "sass/create-post";
@import "sass/textarea";
@import "sass/login-register";
@import "sass/reset-password";
@import "sass/messenger";
@import "sass/friends";
@import "sass/user-profile";
