.create {
  position: relative;
  .create-main {
    width: 100%;
    display: flex;
    .profile {
      min-width: 48px;
      .profile-link {
        top: 13px;
        left: 20px;
        position: absolute;
        height: 28px;
        width: 28px;
        border-radius: 50%;
        overflow: hidden;
      }
    }
    .create-body {
      padding: 16px 36px 16px 12px;
      width: 100%;
      align-items: center;
      display: flex;
      justify-content: space-between;
      .create-text-box {
        width: 100%;
        height: 100%;
      }
      .create-text-editor {
        border: 1px solid $clr-border-bottom;
        padding: 5px 10px;
      }
      .text-smile {
        cursor: pointer;
        position: absolute;
        color: $clr-grey;
        top: 10px;
        right: 15px;
        transition: all 0.2s;
        .Icon {
          opacity: 0.8;
          &:hover {
            opacity: 1;
          }
        }
        .emoji-box {
          &::after {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 6px;
            border-color: transparent transparent $clr-border-bottom-grey transparent;
            top: 13px;
            right: 4px;
          }
        }
        .emoji-picker-react {
          border: 1px solid $clr-border-bottom-grey;
          position: absolute;
          z-index: 100;
          width: 250px;
          height: 260px;
          top: 25px;
          right: -6px;
        }
      }
    }
  }
  .create-footer {
    border-radius: 0 0 4 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fafbfc;
    border-top: 1px solid $clr-border-bottom-grey;
    padding: 13px 20px 12px;
  }

  .short-adds {
    .photo {
      margin: 0 5px;
      cursor: pointer;
      color: $clr-grey;
      top: 10px;
      right: 15px;
      transition: all 0.2s;
      svg {
        opacity: 0.8;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
  .short-adds.closed {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
  }
  .postimages {
    padding: 20px;
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    grid-gap: 5px;
    .exit-icon {
      top: 5px;
      right: 5px;
      width: 18px !important;
      height: 18px !important;
      svg {
        width: 14px !important;
        height: 14px !important;
      }
    }
    .image {
      transition: all 0.2s;
    }
    .post-image {
      height: 150px;
    }
  }
  .postimages.single-row {
    grid-template-columns: minmax(0, 1fr);
    .image {
      transition: all 0.2s;
      height: 287px;
      .exit-icon {
        top: 7px;
        right: 7px;
        width: 20px !important;
        height: 20px !important;
        svg {
          width: 18px !important;
          height: 18px !important;
        }
      }
    }
  }
}
