@import "./main/variables";

.delete-modal {
  height: auto;
  width: 400px;
  .modal-top {
    padding: 0 25px;
    font-size: 14px;
    color: white;
    height: 54px;
    line-height: 54px;
    overflow: hidden;
    background-color: $clr-main-blue;
    position: relative;
    .modal-top-icon {
      width: 18px !important;
      height: 18px !important;
      svg {
        width: 18px !important;
        height: 18px !important;
      }
      cursor: pointer;
      top: 50%;
      transform: translateY(-50%);
      right: 20px;
      position: absolute;
      opacity: 0.8;
      transition: all 0.2s;
      &:hover {
        opacity: 1;
      }
    }
  }
  .modal-body {
    padding: 20px 25px;
    background-color: white;
  }
  .modal-footer {
    padding: 14px 23px 14px 25px;
    background-color: #fafbfc;
    border-top: 1px solid $clr-border-bottom-grey;
  }
}
