.error {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .error-image {
    margin-bottom: 20px;
  }
  .error-text {
    width: 600px;
    font-size: 15px;
  }
  .error-page {
    margin-top: -100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    .error-btn {
      background-color: #bce0f5;
      opacity: 0.8;
      border-radius: 5px;
      max-width: 100px;
      padding: 8px 16px;
      font-size: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        opacity: 1;
      }
      .error-btn-icon {
        margin-right: 5px;
        font-size: 16px;
      }
    }
  }
}
