.find-friends-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0 8px;
  .find-single {
    z-index: 0;
    padding: 20px 7px;
    padding-bottom: 0;
    .image-holder {
      position: relative;
      cursor: pointer;
      overflow: hidden;
      border-radius: 3px;
      width: 160px;
      height: 160px;
      .close-friend {
        display: none;
        transition: all 0.2s;
        width: 18px !important;
        height: 18px !important;
        position: absolute;
        color: white;
        background-color: rgba(0, 0, 0, 0.15);
        top: 0;
        right: 0;
        border-top-right-radius: 3px;
        border-bottom-left-radius: 3px;
        svg {
          width: 12px !important;
          height: 12px !important;
        }
      }
      &:hover {
        .close-friend {
          display: flex;
          justify-content: center;
          align-items: center;
          &:hover {
            opacity: 1;
            background-color: rgba(0, 0, 0, 0.6);
          }
        }
      }
    }
    .single-body {
      position: relative;
      padding: 10px 0;
      display: flex;
      align-items: center;
      .name-box {
        margin-left: 4px;
        text-transform: capitalize;
        cursor: pointer;
        font-weight: 700;
        color: $clr-dark-blue;
        &:hover {
          text-decoration: underline;
        }
      }
      .add-friend {
        transition: all 0.2s;
        cursor: pointer;
        right: 2px;
        position: absolute;
        color: $clr-main-blue;
        opacity: 0.5;
        width: 20px !important;
        height: 20px !important;
        &:hover {
          opacity: 1;
        }
        svg {
          width: 20px !important;
          height: 20px !important;
        }
      }
    }
  }
}
.findmore {
  padding: 40px 0 20px;
  display: flex;
  justify-content: center;
}
