@import "./main/variables";
.friends-sidebar {
  .sidebar-items {
    position: relative;
    font-size: 13px;
    padding: 6px 0;
    background: white;
    border-radius: 4px;
    box-shadow: 0 1px 0 0 $clr-f-card-grey, 0 0 0 1px $clr-s-card-grey;
    display: flex;
    flex-direction: column;
    .sidebar-item {
      transition: all 0.4s;
      color: $clr-dark-blue;
      padding: 0 5px 0 20px;
      cursor: pointer;
      height: 32px;
      line-height: 31px;
      border-left: 2px solid transparent;
      &:hover {
        background-color: $clr-light;
      }
    }
    .sidebar-item.active {
      color: black;
      font-weight: 500;
      border-left: 2px solid $clr-main-blue;
      background-color: $clr-light;
    }
  }
}
