.login-register {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  .title {
    font-size: 72px;
    font-weight: 900;
    color: $clr-light-blue;
  }
  .title.no-users {
    margin-top: 100px;
  }
  .content {
    font-weight: 500;
    width: 500px;
    font-size: 28px;
  }
  .login-content {
    font-weight: 500;
    width: 500px;
    font-size: 28px;
  }
  .login-register-forms {
    display: flex;
    flex-direction: column;
    .register-box {
      margin: 30px 0 20px 0;
    }
  }
}
