.page_header {
  width: 100%;
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  nav {
    background-color: white;
    border-bottom: 1px solid $clr-border-bottom;
    .nav-main {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .nav-brand {
        height: 100%;
        padding: 0px 20px 0 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        .logo-holder {
          margin-right: 7px;
          height: 25px;
          width: 25px;
          border-radius: 5px;
          overflow: hidden;
        }
        font-family: Roboto;
        font-weight: 900;
        font-size: 15px;
        &:hover {
          background-color: $clr-hover-grey;
        }
      }
      .search-box {
        position: relative;
        .search-icon {
          cursor: pointer;
          top: 50%;
          transform: translateY(-50%);
          left: 8px;
          color: $clr-grey;
          font-size: 18px;
          position: absolute;
        }
        .search-input {
          width: 230px;
          background-color: $clr-light;
          padding-left: 35px;
          border-radius: 8px;
          height: 32px;
          box-shadow: none;
          border: none;
          line-height: 32px;
          &::placeholder {
            color: $clr-grey;
          }
        }
      }
    }
    .nav-minor {
      display: flex;
      .minor-menu {
        display: flex;
        .minor-icons {
          cursor: pointer;
          opacity: 0.8;
          height: 48px !important;
          width: 48px !important;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $clr-grey;
          &:hover {
            opacity: 1;
            background-color: $clr-hover-grey;
          }
        }
      }
      .minor-display {
        display: flex;
        flex-grow: 1;
      }
      .account {
        position: relative;
        background-color: white;
        border: none;
        padding-left: 10px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        .settings {
          min-width: 206px;
          max-width: 230px;
          width: auto;
          border-radius: 4;
          background-color: white;
          display: flex;
          flex-direction: column;
          border: 1px solid #c5d0db;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
          padding: 4px 0;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          width: 100%;
          top: 48px;
          right: 0;
          position: absolute;
          .divider {
            margin: 4px 13px;
            border-top: 1px solid #c5d0db;
          }
          .setting-items {
            width: 100%;
            padding: 0 15px;
            text-align: left;
            cursor: pointer;
            height: 30px;
            line-height: 30px;
            color: #2a5885;
            &:hover {
              background-color: $clr-hover-blue;
            }
          }
          .user-profile {
            padding: 8px 15px 8px;
            align-items: center;
            height: auto;
            display: flex;
            .to-profile {
              width: 100%;
              display: flex;
            }
            .user-info {
              max-width: 165px;
              .user-name {
                margin-bottom: 2px;
                font-size: 13px;
                line-height: 16px;
                white-space: nowrap;
                overflow: hidden;
              }
              .user-descr {
                font-size: 12px;
                line-height: 14px;
                color: $clr-grey;
                white-space: nowrap;
                overflow: hidden;
              }
            }
            .thumbnail {
              overflow: hidden;
              margin-right: 9px;
              width: 34px;
              height: 34px;
              border-radius: 50%;
            }
          }
        }
        .account-image {
          width: 32px;
          border-radius: 50%;
          overflow: hidden;
        }
        .account-title {
          font-weight: 500;
          font-size: 14px;
          margin-right: 10px;
        }
        .arrow-down {
          margin: 0px 8px;
        }
        &:hover {
          background-color: $clr-hover-grey;
        }
      }
    }
  }
}
