.page_header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  nav {
    background-color: white;
    border-bottom: 1px solid $clr-border-bottom;
    .nav-main {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .nav-brand {
        height: 100%;
        padding: 0px 20px 0 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        .logo-holder {
          margin-right: 7px;
          height: 25px;
          width: 25px;
          border-radius: 5px;
          overflow: hidden;
        }
        font-family: Roboto;
        font-weight: 900;
        font-size: 15px;
        &:hover {
          background-color: $clr-hover-grey;
        }
      }
      .search-box {
        position: relative;
        .search-icon {
          cursor: pointer;
          top: 50%;
          transform: translateY(-50%);
          left: 8px;
          color: $clr-grey;
          font-size: 18px;
          position: absolute;
        }
        .search-input {
          width: 230px;
          background-color: $clr-light;
          padding-left: 35px;
          border-radius: 8px;
          height: 32px;
          box-shadow: none;
          border: none;
          line-height: 32px;
          &::placeholder {
            color: $clr-grey;
          }
        }
      }
    }
    .nav-minor {
      display: flex;
      .minor-menu {
        display: flex;
        .minor-icons {
          cursor: pointer;
          opacity: 0.8;
          height: 48px !important;
          width: 48px !important;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $clr-grey;
          &:hover {
            opacity: 1;
            background-color: $clr-hover-grey;
          }
        }
      }
      .minor-display {
        display: flex;
        flex-grow: 1;
      }
      .account {
        padding-left: 10px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        .account-image {
          width: 32px;
          border-radius: 50%;
          overflow: hidden;
        }
        .account-title {
          font-weight: 500;
          font-size: 14px;
          margin-right: 10px;
        }
        .arrow-down {
          margin: 0px 8px;
        }
        &:hover {
          background-color: $clr-hover-grey;
        }
      }
    }
  }
}
