@import "./main/variables";
.new-album {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  border-radius: 4px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  height: auto;
  width: 400px;
  .modal-top {
    padding: 0 25px;
    font-size: 14px;
    color: white;
    height: 54px;
    line-height: 54px;
    overflow: hidden;
    background-color: $clr-main-blue;
    position: relative;
    .modal-top-icon {
      width: 18px !important;
      height: 18px !important;
      svg {
        width: 18px !important;
        height: 18px !important;
      }
      cursor: pointer;
      top: 50%;
      transform: translateY(-50%);
      right: 20px;
      position: absolute;
      opacity: 0.8;
      transition: all 0.2s;
      &:hover {
        opacity: 1;
      }
    }
  }
  .modal-body {
    padding: 20px 25px;
    background-color: white;
    label {
      margin-bottom: 12px;
      display: block;
      font-weight: 500;
    }
    input {
      padding: 5px 9px 7px;
      border-radius: 3px;
      width: 100%;
      border: 1px solid $clr-f-card-grey;
    }
  }
  .modal-footer {
    padding: 14px 23px 14px 25px;
    background-color: #fafbfc;
    border-top: 1px solid $clr-border-bottom-grey;
  }
}
