.images {
  .topside {
    padding: 14px 20px;
    min-height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $clr-border-bottom-grey;
    .name-box {
      font-size: 15px;
      .count {
        margin-left: 7px;
        color: $clr-grey;
        font-size: 14px;
      }
    }
  }
  .body-content.no-album {
    display: block;
    padding: 60px 20px;
    text-align: center;
    color: $clr-grey;
    font-size: 13px;
  }
  .body-content {
    padding: 15px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    .album {
      cursor: pointer;
      font-size: 12.5px;
      position: relative;
      height: 165px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center 35%;
      background-color: #f0f2f5;
      .albom-title-wrap {
        padding: 35px 12px 9px;
        color: white;
        position: absolute;
        bottom: 0;
        width: 100%;
      }
      .album-name {
        position: absolute;
        bottom: 10px;
        left: 15px;
        font-weight: 700;
        color: white;
        text-transform: capitalize;
      }
      .album-name.empty-album-name {
        color: $clr-grey;
      }
      .image-count {
        position: absolute;
        bottom: 10px;
        right: 15px;
        font-size: 13px;
        opacity: 0.8;
        color: white;
      }
      .album-edit {
      }
    }
    .album.no-cover {
      background-position: center 57px;
      background-size: 60px 48px;
    }
  }
  .photos-body {
    padding: 15px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    .image {
      height: 195px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center 35%;
      background-color: #f0f2f5;
    }
  }
  .add-photos {
    .breadcrumps {
      .breadcrump {
        font-size: 16px;
        margin-right: 20px;
        display: flex;
        align-items: center;
        &:first-of-type {
          cursor: pointer;
          color: $clr-grey;
          &:hover {
            text-decoration: underline;
          }
        }
        .between-icon {
          color: $clr-grey;
          width: 18px !important;
          height: 18px !important;
          svg {
            width: 18px !important;
            height: 18px !important;
          }
        }
      }
    }
    .image-box {
      padding: 18px 17px 10px;
      display: grid;
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
      grid-gap: 10px;
      .added-image {
        cursor: pointer;
        position: relative;
        height: 127px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center 35%;
        background-color: #f0f2f5;
        &:hover {
          .image-options {
            opacity: 1;
          }
        }
        .image-restore {
          z-index: 1;
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(255, 255, 255, 0.8);
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .restore {
            border: none;
            background-color: transparent;
            color: $clr-dark-blue;
            cursor: pointer;
            &:hover {
              text-decoration: underline;
            }
          }
        }
        .image-options {
          transition: all 0.2s;
          opacity: 0;
          top: 0px;
          right: 0px;
          position: absolute;
          display: flex;
          margin: 8px;
          padding: 3px;
          border-radius: 3px;
          background: rgba(0, 0, 0, 0.4);
          z-index: 0;
          .image-option {
            color: white;
            cursor: pointer;
            opacity: 0.7;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 22px !important;
            height: 22px !important;
            svg {
              width: 17px !important;
              height: 17px !important;
            }
            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }
    .footer-side {
      padding: 14px 20px;
      min-height: 54px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-top: 1px solid $clr-border-bottom-grey;
      .name-box {
        font-size: 15px;
        .count {
          margin-left: 7px;
          color: $clr-grey;
          font-size: 14px;
        }
      }
    }
  }
}
