.images {
  .empty {
    display: block !important;
    padding: 60px 20px !important;
    text-align: center;
    color: $clr-grey;
    font-size: 13px;
  }
  .buttons {
    display: flex;
    align-items: center;
    .add-photo-btn {
      width: 96px;
      height: 25px;
    }
  }
  .body-content {
    padding: 15px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    .album {
      cursor: pointer;
      font-size: 12.5px;
      position: relative;
      height: 165px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center 35%;
      background-color: #f0f2f5;
      .albom-title-wrap {
        padding: 35px 12px 9px;
        color: white;
        position: absolute;
        bottom: 0;
        width: 100%;
      }
      .album-name {
        position: absolute;
        bottom: 10px;
        left: 15px;
        font-weight: 700;
        color: white;
        text-transform: capitalize;
      }
      .album-name.empty-album-name {
        color: $clr-grey;
      }
      .image-count {
        position: absolute;
        bottom: 10px;
        right: 15px;
        font-size: 13px;
        opacity: 0.8;
        color: white;
      }
      &:hover {
        .edit-shortcut {
          opacity: 1;
        }
      }
      .edit-shortcut {
        transition: all 0.2s;
        opacity: 0;
        top: 0px;
        right: 0px;
        position: absolute;
        display: flex;
        margin: 8px;
        padding: 3px;
        border-radius: 3px;
        background: rgba(0, 0, 0, 0.4);
        z-index: 0;
        .edit-icon {
          color: white;
          cursor: pointer;
          opacity: 0.7;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 22px !important;
          height: 22px !important;
          svg {
            width: 17px !important;
            height: 17px !important;
          }
          &:hover {
            opacity: 1;
          }
        }
      }
    }
    .album.no-cover {
      background-position: center 57px;
      background-size: 60px 48px;
    }
  }
  .photos-body {
    padding: 15px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    .image {
      height: 195px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center 35%;
      background-color: #f0f2f5;
    }
  }
  .add-photos {
    .image-box {
      padding: 18px 17px 10px;
      display: grid;
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
      grid-gap: 10px;
    }
  }

  .images-box-mini {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    grid-gap: 10px;
    .image {
      height: 127px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-color: #f0f2f5;
    }
    .image.small-img {
      background-size: inherit;
      background-position: center;
    }
  }
  .edit-side {
    position: relative;
    padding: 20px 30px 40px;
    .title {
      margin: 18px 0 12px;
      text-align: center;
      font-weight: 500;
    }
    .cover {
      height: 139px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-color: #f0f2f5;
    }
    .cover.small-img {
      background-size: inherit;
      background-position: center;
    }
    .title-inp {
      padding: 5px 9px 7px;
      border-radius: 3px;
      width: 100%;
      border: 1px solid $clr-f-card-grey;
    }
    .save-btn {
      margin: 10px 0;
      float: right;
    }
  }
  .footer-lg-side {
    padding: 0 17px 10px;
    .footer-title {
      display: flex;
      justify-content: space-between;
      background-color: white;
      padding: 19px 0 18px;
      border-top: 1px solid $clr-border-bottom-grey;
      .options {
        .option {
          color: $clr-dark-blue;
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
