@import "./main/variables";
.profile-sidebar {
  .avatar {
    position: relative;
    cursor: pointer;
    max-width: 225px;
    max-height: 225px;
    border-radius: 2px;
    overflow: hidden;
    font-size: 12.5px;
    text-align: center;
    transition: all 0.2s;
    .text-box {
      background-color: rgba(0, 0, 0, 0.6);
      position: absolute;
      bottom: -50px;
      height: 50px;
      width: 100%;
      display: flex;
      flex-direction: column;
      transition: all 0.2s;
      justify-content: center;
      .avatar-text {
        display: flex;
        align-items: center;
        height: 25px;
        max-width: 160px;
        width: 160px;
        left: 20px;
        font-size: 13px;
        font-weight: 400;
        position: absolute;
        color: white;
        opacity: 0.7;
        .avatar-icon {
          width: 20px !important;
          height: 20px !important;
        }
        &:hover {
          opacity: 1;
        }
        .avatar-icon {
          margin-right: 5px;
        }
      }
    }
    &:hover {
      .text-box {
        bottom: 0;
      }
    }
  }
  .edit {
    cursor: pointer;
    text-align: center;
    background-color: $clr-hover-blue;
    width: 100%;
    margin-top: 10px;
    padding: 8px 16px;
    transition: all 0.1s;
    color: rgba(0, 0, 0, 0.8);
    &:hover {
      color: rgba(0, 0, 0, 1);
    }
  }
  .profile-friends {
    .profile-f-title {
      .profile-friends-count {
        padding: 0 6px;
        color: $clr-grey;
      }
    }
    .friend {
      text-align: center;
      display: block;
      padding: 6px 0 5px;
      text-align: center;
      width: 67px;
    }
    .friend-image {
      display: block;
      border-radius: 50%;
      overflow: hidden;
      width: 50px;
      height: 50px;
      margin: 0 10px;
      margin-bottom: 7px;
    }
    .friend-name {
      color: $clr-dark-blue;
      &:hover {
        text-decoration: underline !important;
      }
    }
    .profile-friends-body {
      display: flex;
      flex-wrap: wrap;
      padding: 8px 10px;
    }
  }
}
.avatar-picker-box {
  overflow: hidden;
  border-radius: 4px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  width: 650px;
  height: 260px;
  background-color: white;
  .picker-top {
    background-color: $clr-hover-lgrey;
    border-bottom: 1px solid $clr-border-bottom-grey;
    padding: 0 25px;
    height: 54px;
    line-height: 54px;
    font-size: 14px;
    position: relative;
    .close-icon {
      cursor: pointer;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 20px;
      color: #818c99;
      opacity: 0.8;
      &:hover {
        opacity: 1;
      }
    }
  }
  .picker-body {
    padding: 20px 25px;
    height: 160px;
    .picker-options {
      padding: 12px 70px;
      text-align: center;
      font-size: 14px;
    }
    .selecter {
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      .avatar-picker {
        display: none;
      }
    }
  }
  .picker-footer {
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    bottom: 0;
    text-align: center;
    padding: 12px 25px 14px;
    border-top: 1px solid $clr-border-bottom-grey;
    background-color: $clr-hover-lgrey;
  }
}

.preview {
  overflow: hidden;
  border-radius: 4px;
  position: absolute;
  width: 1000px;
  min-width: 650px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  .preview-top {
    background-color: $clr-hover-lgrey;
    border-bottom: 1px solid $clr-border-bottom-grey;
    padding: 0 25px;
    height: 54px;
    line-height: 54px;
    font-size: 14px;
    position: relative;
    .close-icon {
      cursor: pointer;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 20px;
      color: #818c99;
      opacity: 0.8;
      &:hover {
        opacity: 1;
      }
    }
  }
  .preview-body {
    padding: 20px 25px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .preview-title {
      font-size: 14px;
      padding: 15px 0 30px;
    }
    .preview-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      border-radius: 4px;
      overflow: hidden;
    }
    .crop-preview {
      text-align: center;
      display: none;
    }
    .crop-preview.show {
      display: block;
    }
  }
  .preview-footer {
    padding: 20px 25px;
    text-align: center;
    button {
      margin: 0 5px;
    }
    .save-btn {
      cursor: pointer;
      border-radius: 3px;
      font-size: 13px;
      line-height: 20px;
      text-align: center;
      background-color: $clr-main-blue;
      border: none;
      color: white;
      padding: 5px 16px;
      &:hover {
        opacity: 0.88;
      }
    }
    .cancel-btn {
      border-radius: 3px;
      font-size: 13px;
      line-height: 20px;
      text-align: center;
      background-color: $clr-hover-blue;
      border: none;
      color: $clr-main-blue;
      padding: 5px 16px;
      &:hover {
        opacity: 0.88;
      }
    }
  }
}
