.reset-password {
  .field {
    width: 220px;
    position: relative;
  }
  .reg-inp {
    margin-bottom: 15px;
    padding: 6px 12px 8px;
    border-radius: 3px;
    width: 100%;
    border: 1px solid $clr-f-card-grey;
    &::placeholder {
      font-size: 14px;
      transition: all 0.1s;
    }
    &:focus::placeholder {
      color: #b2b2b2;
    }
  }
  .label-name {
    margin: 0 0 10px 1px;
    color: $clr-grey;
    font-weight: 500;
  }
  .input-feedback {
    top: -3px;
    color: white;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    height: 40px;
    border: 1px solid $clr-error-border;
    background-color: $clr-error-background;
    opacity: 1;
    width: 200px;
    left: 240px;
    position: absolute;
    .right-arrow {
      position: absolute;
      top: 50%;
      left: -12px;
      z-index: -1;
      transform: translateY(-50%);
      fill: #ad4547;
    }
  }
  .btn-holder {
    text-align: right;
  }
  .submit-btn {
    margin-right: 20px;
    margin-top: 5px;
    border-radius: 3px;
    font-size: 14px;
    line-height: 20px;
    width: 100px;
    text-align: center;
    background-color: $clr-main-blue;
    border: none;
    color: white;
    padding: 7px 16px 8px;
    &:hover {
      opacity: 0.88;
    }
  }
  .cancel-btn {
    margin-top: 5px;
    border-radius: 3px;
    font-size: 14px;
    line-height: 20px;
    width: 100px;
    text-align: center;
    background-color: #e4e6eb;
    border: none;
    color: #4b4f56;
    padding: 7px 16px 8px;
    &:hover {
      opacity: 0.88;
    }
  }
}
