.sidebar {
  background-color: $clr-light;
  position: fixed;
  max-width: 285px;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
  .side-items {
    display: flex;
    flex-direction: column;
    .side-item {
      border-radius: 4px;
      display: flex;
      &:hover {
        background-color: $clr-hover-grey;
      }
      .side-body {
        display: flex;
        width: 100%;
        font-size: 18px;
        padding: 10px;
        color: $clr-main-blue;
        font-weight: 400;
        .side-text {
          line-height: 30px;
          margin: 0;
          font-size: 20px;
        }
        .side-icon {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 25px;
          width: 30px;
          height: 30px;
          margin-right: 10px;
        }
        .side-img {
          overflow: hidden;
          width: 30px;
          height: 30px;
          margin-right: 10px;
          border-radius: 50%;
        }
      }

      .side-children-icon {
        cursor: pointer;
        background-color: unset;
        border: unset;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        display: flex;
        width: 30px;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        transition: all 0.2s ease-in-out;
      }
    }
  }
}
