.sidebar {
  background-color: $clr-light;
  position: fixed;
  max-width: 285px;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
  .side-items {
    display: flex;
    flex-direction: column;
    .side-item {
      .side-item-link {
        display: flex;
        align-items: center;
        height: 30px;
        border-radius: 4px;
        padding: 0 15px;
        .Icon {
          color: $clr-main-blue;
          margin-right: 10px;
          width: 20px !important;
          height: 20px !important;
          svg {
            width: 20px !important;
            height: 20px !important;
          }
        }
        &:hover {
          background-color: $clr-hover-dgrey;
        }
      }
    }
  }
}
