.textarea-box {
  position: relative;
  .textarea {
    min-height: 20px;
    max-width: 444px;
    width: 100%;
    background-color: transparent;
    border: none;
    opacity: 1;
    &:focus {
      outline: none;
    }
  }
  .textarea.expanded {
    min-height: 5ch;
  }
}
.placeholder {
  pointer-events: none;
  top: 0;
  left: 0;
  position: absolute;
  color: $clr-placeholder;
}
.placeholder.focus {
  opacity: 0.8;
}
