.my-profile {
  .page-info {
    .page-info-top {
      padding: 0 0 15px;
      .user-basic-info {
        position: relative;
        .user-name {
          text-transform: capitalize;
          font-size: 19px;
          line-height: 25px;
          font-weight: 400;
        }
        .online-status {
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          color: $clr-grey;
        }
      }
      .user-current-status {
        border: none;
        width: 100%;
        text-align: left;
        cursor: pointer;
        color: $clr-grey;
        line-height: 16px;
        margin: -2px -6px;
        padding: 4px 6px;
        &:hover {
          background-color: $clr-hover-lgrey;
        }
      }
    }
    .profile-info {
      padding: 10px 0;
      border-top: 1px solid $clr-border-bottom-grey;
      border-bottom: 1px solid $clr-border-bottom-grey;
      .full-info {
        height: 34px;
        line-height: 32px;
        background-color: white;
        border: none;
        width: 100%;
        text-align: center;
        color: $clr-dark-blue;
        &:hover {
          background-color: $clr-hover-lgrey;
        }
      }
    }
    .profile-full-info {
      padding: 10px 0;
    }
    .profile-info-box {
      width: 100%;
      display: flex;
      padding: 5px 0;
      .info-title {
        width: 193px;
        color: $clr-grey;
        text-transform: capitalize;
      }
      .info-value {
        text-transform: capitalize;
        color: $clr-dark-blue;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .page-photos {
    padding: 13px 20px 20px;
    .page-photos-top {
      display: block;
      height: 32px;
      span {
        margin-left: 5px;
        color: $clr-grey;
      }
    }
    .page-photos-list {
      padding: 0 60px;
      display: grid;
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
      grid-gap: 5px;
      .image {
        height: 123px;
      }
    }
  }
  .user-posts {
    .user-posts-topside {
      display: flex;
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;
      border-bottom: 1px solid $clr-border-bottom;
      background-color: white;
      padding: 0 10px;
      margin-bottom: 0;
      .item {
        z-index: 100;
        border-bottom: 1px solid $clr-main-blue;
        padding: 16px 6px 15px;
        margin: 0 4px -1px;
        cursor: pointer;
      }
    }
  }
}
